<% @things.each do |thing| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= thing.name %></h1>
    <t><%= thing.thing1 %></t><br />
    <t><%= thing.thing2 %></t><br />
    <t><%= thing.thing3 %></t><br />
  </div>
<% end %>
